html {
	font-family: 'Source Sans Pro',sans-serif;
	color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;
	font-size: 10px;
}
@media screen and (min-width: 350px){
	html {
		font-size: 12px;
	}
}
@media screen and (min-width:480px) and (max-width:768px) and (min-height:360px) {
	html {
		font-size: 14px;
	}
}
@media screen and (min-width:768px) {
	html{
		font-size: 16px;
	}
}
@media screen and (max-height:500px) and (min-width:768px) {
	html {
		font-size: 12px
	}
}
body {
	margin:0;
	overflow-x: hidden
}
h1,h2 {
	line-height: 1.1;
	color: inherit;
}
h1 {
	font-size: 37.5px;
	font-size: 3.75rem;
	margin-bottom: 5px;
	margin-bottom: .5rem
}
h2 {
	font-size: 25px;
	font-size: 2.5rem;
	margin-bottom: 18.75px;
	margin-bottom: 1.875rem;
}
p {
	font-size: 15px;
	font-size: 1.5rem;
	color: rgba(255,255,255,.7);
	max-width: 800px;
	margin: 0 auto;
}
.hide {
	opacity: 0;
}
.same-line {
	display:inline-block;
}
a {
	color: #007bff;
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}
img {
	vertical-align: middle;
	border-style: none;
}
button,input {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	overflow: visible
}
.section {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 50vh;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	text-align: center
}
.pitch {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	text-align: center;
	flex-wrap: wrap;
}

.pitch .service-pitch-text {
	margin-left: 30px;
	margin-right: 30px;
}

#pitch-text {
	max-width: 60vh;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#pitch-text .same-line {
	font-size: 22.5px;
	font-size: 2.25rem;
}

@media (max-width: 768px) {
	.section {
		padding-left: 2rem;
		padding-right: 2rem
	}
}
#intro {
	background-color: rgb(81, 150, 87);
}

#intro h1 {
	color: white;
}
#intro p {
	margin-top: 25px;
	margin-top: 2.5rem;
	color: white;
	line-height: 200%;
}

#intro:focus-within {
	opacity: 1!important;
}

#intro #intro-content {
	margin-bottom: 31.25px;
}

#logo {
	max-width: 5.5rem;
	max-height: 5.5rem;
}

#about {
	background-color: rgb(23, 23, 24);
	min-height: 5vh;
}

#about-logo {
	margin: 0 auto;
	margin-top: 8px;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.product-image {
	margin-top: auto;
}

#intro .badges {
	margin-top: 31.25px;
	margin-top: 3.125rem
}

#google-play-badge {
	margin-top: -6%;
}

#app-store-badge {
	height: 80%;
}

#service {
	background-color: rgb(23, 23, 24);
}

#service .pitch {
	max-width: 75vh;
}

#service .service-pitch-text {
	margin-bottom: 18.75px;
}

#products {
	background-color: rgb(248, 248, 242);
	padding-bottom: 50px;
}

#products-content-description {
	max-width: 60vh;
	margin-top: 20px;
	margin-bottom: 20px;
}

#products p {
	color: rgb(23, 23, 24);
}

#products h1 {
	color: rgb(23, 23, 24);
}

.links {
	clear:both;
	font-size:10px;
	font-size:1rem;
	padding-top:40px;
	padding-top:4rem
}
.links a {
	color:inherit;
	padding: 0 2.5px;
	padding: 0 .25rem;
	text-decoration: none
}
.links a:hover {
	color:inherit;
	text-decoration: underline
}
.copy {
	margin-top:10px;margin-top:1rem;font-size:7.5px;font-size:.75rem;opacity:.5
}

.products-pitch {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	text-align: center;
	flex-wrap: wrap;
}

.banner-image {
	display: block;
	max-width: 60vh;
	max-height: 25vh;
	width: auto;
	height: auto;
	border-radius: 12.0px;
	margin-top: 18.75px;
	margin-bottom: 18.75px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-image-container {
	position: relative;
	min-width: 60vh;
}

.product-image-container .image-description-text {
	position: absolute;
    bottom: 16px;
    left: 10px;
    font-size: 32.25px;
    font-style: black;
    font-weight: bold;
}

.badges {
	margin: 25px auto;
	margin: 2.5rem auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.badges a {
	width: 50%;
}

.badges img {
	width: 100%;
}

::-webkit-input-placeholder {
	color:#aaa
}
:-ms-input-placeholder{
	color:#aaa
}
::-ms-input-placeholder{
	color:#aaa
}
::placeholder{
	color:#aaa
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.badges {
		margin: 2.5rem auto;
		width: 100%
	}
	.links {
		font-size: 1.225rem
	}
	.copy {
		font-size: 1rem
	}
	.product-image {
		margin-top: auto;
		width: 260px;
	}
	#products-content-description {
		max-width: 260px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.product-image-container {
		position: relative;
		min-width: 260px;
	}
	.banner-image {
		display: block;
		max-width: 260px;
		max-height: 25vh;
		width: auto;
		height: auto;
		border-radius: 12.0px;
		margin-top: 18.75px;
		margin-bottom: 18.75px;
		margin-left: 0 auto;
		margin-right: 0 auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.product-image-container .image-description-text {
		position: absolute;
	    bottom: 16px;
	    left: 10px;
	    font-size: 20.25px;
	    font-style: black;
	    font-weight: bold;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	.badges {
		margin: 2.5rem auto;
		width: 100%
	}
	.links {
		font-size: 1.225rem
	}
	.copy {
		font-size: 1rem
	}
	.product-image {
		margin-top: auto;
		width: 260px;
	}
	#products-content-description {
		max-width: 260px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.product-image-container {
		position: relative;
		min-width: 260px;
	}
	.banner-image {
		display: block;
		max-width: 260px;
		max-height: 25vh;
		width: auto;
		height: auto;
		border-radius: 12.0px;
		margin-top: 18.75px;
		margin-bottom: 18.75px;
		margin-left: 0 auto;
		margin-right: 0 auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.product-image-container .image-description-text {
		position: absolute;
	    bottom: 16px;
	    left: 10px;
	    font-size: 20.25px;
	    font-style: black;
	    font-weight: bold;
	}
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
	.links {
		font-size: 1.225rem
	}
	.copy {
		font-size: 1rem
	}
	.product-image {
		margin-top: auto;
		width: 360px;
	}
	.product-image-container {
		position: relative;
		min-width: 360px;
	}
	#products-content-description {
		max-width: 360px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.banner-image {
		display: block;
		max-width: 360px;
		max-height: 25vh;
		width: auto;
		height: auto;
		border-radius: 12.0px;
		margin-top: 18.75px;
		margin-bottom: 18.75px;
		margin-left: 0 auto;
		margin-right: 0 auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.product-image-container .image-description-text {
		position: absolute;
	    bottom: 16px;
	    left: 10px;
	    font-size: 26.25px;
	    font-style: black;
	    font-weight: bold;
	}
}